<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a routerLink="/detalhes-lancamento">Detalhes dos Lançamentos</a>
    </li>
    <li class="breadcrumb-item active">Listagem</li>
</ol>
<div class="card mb-3">
    <div class="card-header">
        <a routerLink="/novo-detalhe-lancamento" class="btn btn-success float-right"><i class="fas fa-plus"></i>
            Adicionar</a>
        <i class="fas fa-table"></i> Detalhes cadastradas</div>
    <div class="card-body">
        <div class="table-responsive">

            <div *ngIf="!detalhes || detalhes.length <= 0">
                <div class="alert alert-info" role="alert">
                    Nenhum detalhe cadastrado.
                </div>
            </div>
            <div *ngIf="detalhes && detalhes.length > 0">

                <table class="table table-bordered table-hover" width="100%" cellspacing="0">
                    <thead class="thead-light">
                        <tr>
                            <th width="50">#</th>
                            <th>Valor</th>
                            <th>Tipo</th>
                            <th>Lançamento Contábil</th>
                            <th>Conta Analitica</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let detalhe of detalhes">
                            <td>{{ detalhe.ID }}</td>
                            <td>{{ detalhe.Valor | currency }}</td>
                            <td>{{ detalhe.Tipo }}</td>
                            <td>{{ detalhe.LancamentoContabil }}</td>
                            <td>{{ detalhe.ContaAnalitica }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>